body {
  font-family: monospace;
}

button {
  display: block;
  background-color: whitesmoke;
  border: 2px solid black;
  margin: 5px 0;
  width: 300px;

  font-family: monospace;
  font-size: 20pt;
}

#new-button {
  background-color: lightyellow;
}
